.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1d1d1d;
  padding-top: 50px; // Give space for the fixed navbar
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  width: 80%;
  gap: 1.5rem;
  padding-bottom: 3rem;
  border-radius: 1.25rem;
  background: #1d1d1d;
  box-shadow:
    8px 8px 4px 0px rgba(0, 0, 0, 0.25),
    4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    -8px -8px 4px 0px rgba(60, 60, 60, 0.25),
    -4px -4px 4px 0px rgba(126, 126, 126, 0.25);
}
span {
  color: red;
}

.header {
  color: #605f5f;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 0.5rem;
  @media (max-width: 700px) {
    font-size: 1.75rem;
  }
}

.title {
  color: #e3e3e3;
  margin-top: 2.5rem;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 3.375rem */
  letter-spacing: 0.225rem;

  @media (max-width: 700px) {
    font-size: 1.25rem;
  }
}
.subHeader {
  color: #e3e3e3;

  text-align: center;
  font-family: "Josefin Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 3.375rem */
  letter-spacing: 0.225rem;
  @media (max-width: 700px) {
    font-size: 1.25rem;
  }
}

.paragraph {
  color: #fff;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  // line-height: 150%;
  letter-spacing: 0.12rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

.testimonialsSection {
  width: 100%;
}
.testimonialsSection1 {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  justify-content: space-between;
  border-radius: 1.875rem;
  background: #494949;
  box-shadow:
    -4px -4px 2px 0px rgba(132, 132, 132, 0.25) inset,
    0px 4px 4px 0px rgba(215, 215, 215, 0.25) inset;
}
@media (min-width: 950px) {
  .testimonialsSection {
    width: 50rem;
  }
}
.viewLessButton {
  text-align: center;
  margin-top: 20px;
  width: 16.25rem;
  height: 4.875rem;
}

.viewLessButton button {
  background: linear-gradient(90deg, #f3c1c1 0%, rgba(232, 169, 169, 0) 132.4%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
  margin-bottom: 1rem;
  border-radius: 0.52888rem;
  box-shadow:
    -3.385px -3.385px 5.077px 0px rgba(74, 74, 74, 0.25) inset,
    -1.692px -1.692px 3.385px 0px rgba(139, 139, 139, 0.25) inset,
    3.385px 3.385px 5.077px 0px rgba(0, 0, 0, 0.25) inset,
    1.692px 1.692px 3.385px 0px rgba(33, 32, 32, 0.25) inset;
}

.testimonialSlider {
  padding: 20px 0;

  .slick-list,
  .slick-slider,
  .slick-track {
    position: relative;
  }

  .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: transform 0.5s ease;

    & > div {
      flex: 1;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  }

  .slick-dots {
    bottom: -25px;
    li {
      margin: 0;
    }
    button:before {
      font-size: 12px;
      color: white;
      opacity: 1;
    }
    .slick-active button:before {
      color: white;
      opacity: 1;
    }
  }

  .testimonial {
    color: white;
    padding: 1rem;
    // text-align: center;
    // border-radius: 4px;
    // max-width: 100%;
    max-width: calc(95% - 10px);
    // margin: auto;
    border-radius: 1.875rem;
    background: #494949;

    box-shadow:
      -4px -4px 2px 0px rgba(132, 132, 132, 0.25) inset,
      0px 4px 4px 0px rgba(215, 215, 215, 0.25) inset;
  }
}
.Testi {
  color: #fff;

  font-family: "Josefin Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 3.375rem */
  letter-spacing: 0.09719rem;
  @media (max-width: 600px) {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
}
.testimonialText {
  color: #fff;

  text-align: center;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.25rem */
  letter-spacing: 0.12rem;
}

@media (max-width: 700px) {
  .contentSection {
    flex-direction: column;
  }

  .whatIsUC,
  .whyUC {
    padding: 15px;
  }

  .viewLessButton {
    width: 6.875rem;
    height: 2.0625rem;
    margin-bottom: 1rem;
  }
  .paragraph {
    padding-right: 0rem;
    padding-left: 0rem;
    color: #fff;

    text-align: center;
    font-family: "Josefin Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  .testimonialSlider .slick-slide {
    max-width: 80%;
    margin: 0 auto;
  }

  .testimonialText {
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 2.25rem */
    letter-spacing: 0.12rem;
  }
  .testimonialsSection1 {
    //   background-color: red;

    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.2rem;
    justify-content: space-between;
    //   color: #333;
    //   width: 80%;
    border-radius: 1.875rem;
    background: #494949;

    box-shadow:
      -4px -4px 2px 0px rgba(132, 132, 132, 0.25) inset,
      0px 4px 4px 0px rgba(215, 215, 215, 0.25) inset;
  }
}
:global {
  .slick-dots li button:before {
    color: white !important;
  }

  .slick-dots li.slick-active button:before {
    color: white !important;
  }
}
